@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-family: "Playwrite AU VIC", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}